<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bjfu.six.mall.mapper.ParamsMapper">
    <insert id="insertParams" parameterType="bjfu.six.mall.entity.Params">
        insert into action_params(id,parent_id,name,sort_order,status,level,created,updated)
        values (#{id},#{parent_id},#{name},#{sort_order},#{status},#{level},#{created},#{updated})
    </insert>

    <select id="selectByLevel" parameterType="java.lang.String" resultType="bjfu.six.mall.entity.Params">
        select * from action_params
        where level=#{level}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from action_params
        where id=#{id}
    </delete>

    <update id="updateParams" parameterType="bjfu.six.mall.entity.Params">
        update action_params
        set id=#{id},
        parent_id=#{parent_id},
        name=#{name},
        sort_order=#{sort_order},
        status=#{status},
        level=#{level},
        created=#{created},
        updated=#{updated}
        where id=#{id}
    </update>
</mapper>