<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bjfu.six.mall.mapper.UsersMapper">
    <insert id="insertUser" parameterType="bjfu.six.mall.entity.Users">
        insert into action_users(id,account,password,email,phone,question,asw,role,create_time,
        update_time,age,sex,del,name)
        values (#{id},#{account},#{password},#{email},#{phone},#{question},#{asw},#{role},
        #{create_time},#{update_time},#{age},#{sex},#{del},#{name})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from action_users
        where id=#{id}
    </delete>

    <select id="selectByAccount" parameterType="java.lang.String" resultType="bjfu.six.mall.entity.Users">
        select * from action_users
        where account=#{account}
    </select>

    <select id="selectById" parameterType="java.lang.String" resultType="bjfu.six.mall.entity.Users">
        select * from action_users
        where id=#{id}
    </select>


    <select id="getAll" resultType="bjfu.six.mall.entity.Users">
        select * from action_users
    </select>

    <update id="updateUsers" parameterType="bjfu.six.mall.entity.Users" >
        update action_users
        set
        name=#{name},
        account=#{account},
        age=#{age},
        phone=#{phone},
        email=#{email},
        sex=#{sex}
         where  id=#{id}
    </update>
</mapper>